<div class="home">
    <div class="profiles-list-main">
        <h1>Profili</h1>
        <div class="profiles-list">

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Google</label>
                <img src="assets/images/socials/google.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Facebook</label>
                <img src="assets/images/socials/facebook.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Porn Hub</label>
                <img src="assets/images/socials/pornhub.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Google</label>
                <img src="assets/images/socials/google.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Facebook</label>
                <img src="assets/images/socials/facebook.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Porn Hub</label>
                <img src="assets/images/socials/pornhub.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Google</label>
                <img src="assets/images/socials/google.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Facebook</label>
                <img src="assets/images/socials/facebook.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Porn Hub</label>
                <img src="assets/images/socials/pornhub.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Google</label>
                <img src="assets/images/socials/google.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Facebook</label>
                <img src="assets/images/socials/facebook.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Porn Hub</label>
                <img src="assets/images/socials/pornhub.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Google</label>
                <img src="assets/images/socials/google.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Facebook</label>
                <img src="assets/images/socials/facebook.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="profile">
                <label>Porn Hub</label>
                <img src="assets/images/socials/pornhub.png" alt="ciao">
            </div>

            <div matRipple matRippleColor="rgb(176, 176, 176, 0.3)" class="add-profile">
                <label>Add new</label>
                <mat-icon>add_box</mat-icon>
            </div>

        </div>
    </div>
</div>