<div class="login-menu" [class]="_theme.dark ? 'login-menu-dark' : ''">
    <div>
        <div class="input-data">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Put your username">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Put your password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>
        </div>
        <div class="login-menu-buttons">
            <button mat-flat-button color="accent" style="border-radius: 5px;"
                (click)="onLoginButtonClick()">Login</button>
            <div style="margin-left: 10px"></div>
            <button mat-flat-button color="warn" style="border-radius: 5px;"
                (click)="onLogonButtonClick()">Logon</button>
        </div>
    </div>
</div>